
{% extends "blog/base.html" %}
{% block content %}
{% load static %}
    <div class="tresci" style="text-align:center;">
    <h2><b>O MNIE</b></h2><br>
        <img style="text-align:center;" src="{% static 'blog/olejarz.jpg' %}"><br><br>
            <p class="format">
        <font color="black"><b>Fotografia</b></font> oraz <font color="black"><b>filmowanie</b></font> to moje największe pasje oraz, mam nadzieję, praca w przyszłości. Jestem osiemnastolatkiem z głową pełną pomysłów. Wykonuję sesje zdjęciowe, nagrywam oraz zajmuję się postprodukcją przeróżnych materiałów video, w tym teledysków, reklam, reportaży czy filmów okolicznościowych.
    Jeśli jesteś zainteresowany/a współpracą, odezwij się do mnie mailowo lub poprzez jeden z social mediów. Jestem pewien, że razem stworzymy coś niesamowitego!
            </p>
            <br><br>
    </div>
{% endblock content %}