
{% extends "blog/base.html" %}
{% block content %}
    <div class="tresci"><br>
       <h2><b>Filmy</b></h2><br>
<iframe width="560" height="315" src="https://www.youtube.com/embed/hiBXgt3K2mA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <br><br><font><h1>Jakub Słubik - Kosmiczny bard</h1>Teledysk video dla rapera Jakuba Słubika</font><br><br><br>
<iframe src="https://www.youtube.com/embed/-Uc1tNsTcP4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <br><br><font><h1>obibok - RIRI</h1>Teledysk video dla rapera Obibok</font><br><br><br>
<iframe   src="https://www.youtube.com/embed/_eXTPefbaY4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <br><br><font><h1>Osiemnastka Miłosza</h1>Videorelacja z imprezy osiemnastkowej</font><br><br>
<iframe width="560" height="315" src="https://www.youtube.com/embed/7iyK9MUBc3I" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>    
    <br><br><font><h1>obibok - OBIBOK</h1>Teledysk video dla rapera Obibok</font><br><br><br>
<iframe width="560" height="315" src="https://www.youtube.com/embed/moWLE08ySMA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
     <br><br><font><h1>DRESS UP PARTY 4</h1>Videorelacja z dyskoteki w Zespole Szkół Ekonomicznych w Złotowie</font><br><br><br>
<iframe width="560" height="315" src="https://www.youtube.com/embed/duSoU1OslNk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <br><br><font><h1>Lolu x Słubik - Demony</h1>Mash-up zrobiony dla duetu Lolu x Słubik</font><br><br><br>
<iframe width="560" height="315" src="https://www.youtube.com/embed/O7LKGhNeHaQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>    <br><br><font><h1>Lolu x Słubik - Nad chodnikami</h1>Mash-up zrobiony dla duetu Lolu x Słubik</font><br><br>
   </div>
{% endblock content %}